<!DOCTYPE html>
<html >
  <head>
    {{ template "header" }}
  </head>
  <body>
    {{ template "navbar" . }}

    <section class="engine"></section><div id="extFeatures9-n" custom-code="true" data-rv-view="42" class="mbr-after-navbar"><section class="mbr-cards mbr-section extFeatures mbr-after-navbar" data-rv-view="42" style="background-color: rgb(31, 42, 47); padding-top: 160px; padding-bottom: 40px;">
        <div class="mbr-section mbr-section-nopadding">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6 text-xs-center title-wrap">

                  <h3 class="mbr-section-title display-2 mbr-editable-content">{{.User.Username}}</h3> 
                  {{ if .IsUser }} <a href="/settings"><button>Edit Profile</button></a>{{ end }}
                <div class="card cart-block">
                  <div class="feature-img">
                    <img src="/public/assets/images/action-adult-carry-1378866-600x400.jpg" class="card-img-top">
                  </div>
                </div>

                <br>
                <br>
                <br>

              </div>
              <div class="col-xs-12 col-md-6">

                <div class="mbr-testimonial card">
                  <div class="card-block mbr-editable-content">
                    <p>
                    <span style="font-style: normal;">
                      Member: {{ .User.Name }}
                    </span>
                    </p>
                    <hr>
                    {{ .User.SocialMedia.Facebook.Username }}
                    {{ .User.SocialMedia.Twitter.Username }}
                    {{ .User.SocialMedia.Instagram.Username }}
                  </div>
                  <div class="mbr-author card-footer">
                  </div>
                </div>          

                <div class="mbr-testimonial card">
                  <div class="card-block mbr-editable-content">
                    <p>
                    <span style="font-style: normal;">
                      Partner: {{ .User.Partner }}</span>
                    </p>
                    <hr>
                    {{ .User.PartnerFacebook }}
                    {{ .User.PartnerTwitter }}
                    {{ .User.PartnerInstagram }}
                  </div>
                  <div class="mbr-author card-footer">
                  </div>
                </div>          

                <div class="mbr-testimonial card">
                  <div class="card-block mbr-editable-content">
                    <p>
                    <span style="font-style: normal;">
                      Location
                      <br>
                      {{ .User.Location }}
                    </span>
                    </p>
                  </div>
                  <div class="mbr-author card-footer">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {{ template "footer" }}
  </body>
</html>

