<!DOCTYPE html>
<html >
<head>
  {{ template "header" }}
</head>
  <body>
    {{ template "navbar" . }}

    <section class="mbr-section form1 mbr-after-navbar" id="form1-l" data-rv-view="31" style="background-color: rgb(31, 42, 47); padding-top: 120px; padding-bottom: 120px;">
      {{ if not .IsLoggedIn  }}
          <a href="/login">Log in, in order to join</a>
      {{ end }}
      <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
          <div class="row">
            <h2 class="title">Black Men, Don't Cheat</h2>
            
          </div>
        </div>
      </div>
    </section>
    {{ template "footer" }}
  </body>
</html>
