<!DOCTYPE html>
<html >
<head>
  {{ template "header" }}
</head>
  <body>
    {{ template "navbar" . }}

    <section class="mbr-section form1 mbr-after-navbar" id="form1-l" data-rv-view="31" style="background-color: rgb(31, 42, 47); padding-top: 120px; padding-bottom: 120px;">
      {{ if not .IsLoggedIn  }}
          <a href="/login">Log in, in order to join</a>
      {{ end }}
      <br>
      <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
          <div class="row">
            <h2 class="mbr-section-title display-2">Black Men, Don't Cheat</h2>
             <div class="col-sm-6 col-md-4">
               <div style="width: 95%; height: auto">
                 <img style="max-width: 95%" src="/public/card.jpg">
               </div>
            </div>
            <div style="color: white" class="col-sm-6 col-md-8">
              <h2 class="mbr-section-title display-6"> Flex Faithfulness </h2>

              <p style="font-size: 21px"> Enjoy Personalized, Government Grade Plastic ID Cards</p>
              <p style="font-size: 21px"> Membership activates your profile (May be public or restricted)</p>
              <p style="font-size: 21px">Each Card has a QR Code. Once App is released, allows any person to scan QR and be taken to your <a href="/profile">profile</a></p>
              <p style="font-size: 21px"><a href="/profile/dsummers91">View an example profile here</a></p>
              <p style="font-size: 21px"> For Couples: Great Anniversary/Holiday Gift<p>
              <p style="font-size: 21px"> For Singles: Great Ice-Breaker!<p>
              <br>
              <br>
              <p style="font-size: 21px"> Members receive a special discount at the store, as well as many other benefits as we grow<p>
              <br>
              <a href="https://blackmendontcheat.foxycart.com/cart?name=ExampleProduct&price=5"><button class="btn btn-secondary">Buy Membership Now</button></a>

            </div>
          </div>
        </div>
      </div>
    </section>
    {{ template "footer" }}
  </body>
</html>
