<!DOCTYPE html>
<html >
<head>
  {{ template "header" }}
</head>
<body>
  {{ template "navbar" . }}

<section class="engine"></section><section class="mbr-section form1 mbr-after-navbar" id="form1-l" data-rv-view="31" style="background-color: rgb(31, 42, 47); padding-top: 120px; padding-bottom: 120px;">
    
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
      <div class="container text-white">
        <div class="row">

          <br><br><br><br><br>
          <h2 class="text-center text-white">TERM AND CONDITIONS</h2>
          <p>You may NOT use our service to threaten, constitute harassment, violate a legal restraint, or any other unlawful purpose. The customer agrees this is a gag gift, novelty service for entertainment ONLY and that is their only intention. Brouhaha LLC, shipyourenemiesglitter.com, shipyourfriendsbacon.com, liability to the customer is limited to the price of the product. Customers ordering any items from this web site agree to release Brouhaha LLC, shipyourenemiesglitter.com, shipyourfriendsbacon.com, its agents, officers, and employees of any and all liability associated with the use of our services.</p>

          <p>You may not send a gift to any person or organization you do not personally know, this includes famous individuals, politicians and companies.</p>
          <p>All Custom notes are reviewed and any content deemed inappropriate will be omitted, which includes threats and harassment.</p>
          <p>All content on the site is for comedic purposes only. Please do not use our service for any other reason than as a novelty, gag gift and for entertainment purposes only. If you are not 100% sure the recipient will understand the novelty of the item, DO NOT SEND.</p>
          {{ template "footer" }}

            </div>
        </div>
    </div>
</section>

</html>

