{{ define "footer" }}
<script data-cfasync="false" src="https://cdn.foxycart.com/thisismotivation/loader.js" async defer></script>
<script src="https://cdn.auth0.com/js/lock/11.13.0/lock.min.js"></script>
<script src="/public/assets/web/jquery/jquery.min.js"></script>
<script src="/public/assets/tether/tether.min.js"></script>
<script src="/public/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/public/assets/jarallax/jarallax.js"></script>
<script src="/public/assets/touch-swipe/jquery.touch-swipe.min.js"></script>
<script src="/public/assets/viewport-checker/jquery.viewportchecker.js"></script>
<script src="/public/assets/smooth-scroll/smooth-scroll.js"></script>
<script src="/public/assets/dropdown/js/script.min.js"></script>
<script src="/public/assets/social-likes/social-likes.js"></script>
<script src="/public/assets/mobirise3-blocks-plugin/js/script.js"></script>
<script src="/public/assets/theme/js/script.js"></script>


<input name="animation" type="hidden">
{{ end }}
