{{ define "navbar" }}
  <section id="ext_menu-0" data-rv-view="0">

    <nav class="navbar navbar-dropdown navbar-fixed-top">
        <div class="container">

            <div class="mbr-table">
                <div class="mbr-table-cell">

                    <div class="navbar-brand">
                        
                        <a class="navbar-caption" href="/">
                          <img src="https://via.placeholder.com/60">
                        </a>
                    </div>

                </div>
                <div class="mbr-table-cell">

                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="hamburger-icon"></div>
                    </button>

                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar">
                      <li class="nav-item"><a class="nav-link link" href="/#extFeatures12-t">BENEFITS</a></li>
                      <li class="nav-item"><a class="nav-link link" href="/#header3-8">ABOUT BMDC</a></li>
                      <li class="nav-item"><a class="nav-link link" href="/#msg-box2-f">SHOP</a></li>
                      {{if .IsLoggedIn }}
                      <li class="nav-item nav-btn dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img style="border-radius: 15px" src="https://via.placeholder.com/30">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/profile">Profile</a>
                          <a class="dropdown-item" href="/settings">Settings</a>
                          <a class="dropdown-item btn-logout" href="/logout">Logout</a>
                        </div>
                      </li>
                      {{ else }}
                      <li class="nav-item nav-btn"><a class="nav-link btn btn-main btn-main-outline" href="/login">LOG IN / SIGN UP</a></li>
                      {{ end }}
                    </ul>

                    <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="close-icon"></div>
                    </button>

                </div>
            </div>

        </div>
    </nav>

</section>

{{ end }}
