<!DOCTYPE html>
<html >
  <head>
    {{ template "header" }}
  </head>
  <body>
    {{ template "navbar" . }}
        <div class="container">
          <h1>Edit Profile</h1>
          <hr>
          <div class="row">
            <!-- left column -->
            <div class="col-md-3">
              <div class="text-center">
                <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                <h6>Upload a different photo...</h6>

                <input type="file" class="form-control">
              </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-9 personal-info">
              <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>``
                This is an <strong>.alert</str`ong>. Use this to show important messages to the user.
              </div>
              <h3>Personal info</h3>

              <form class="form-horizontal" id="editProfile" role="form">
                {{$user := .User}}
                {{range $val := .Fields }}
                    {{ template "inputField" dict "Field" $val "User" $user}}
                {{ end }}
                <div class="form-group">
                  <label class="col-lg-3 control-label">Facebook</label>
                  <div class="col-lg-8">
                    <input name="facebookUsername" class="form-control" type="text" value="{{.User.UserSocialMedia.Facebook.Username }}">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label"></label>
                  <div id="editProfileSubmit" class="col-md-8">
                    <button class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </form>
            </div>
  </div>
        </div>
        <hr>
        {{ template "footer" }}
  </body>
</html>
