{{ define "navbar" }}
  <section id="ext_menu-0" data-rv-view="0">

    <nav class="navbar navbar-dropdown navbar-fixed-top">
        <div class="container">

            <div class="mbr-table">
                <div class="mbr-table-cell">

                    <div class="navbar-brand">
                        
                        <a class="navbar-caption" href="/">
                          <img src="/public/assets/logo.png">
                        </a>
                    </div>

                </div>
                <div class="mbr-table-cell">

                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="hamburger-icon"></div>
                    </button>

                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar">
                      <li class="nav-item"><a class="nav-link link" href="/#header2-1">Home</a></li>
                      <li class="nav-item"><a class="nav-link link" href="/#header3-8">About</a></li>
                      <li class="nav-item"><a class="nav-link link" href="/contact">Contact</a></li>
                      <li class="nav-item"><a class="nav-link link" href="/shop">Shop</a></li>
                      {{if .IsLoggedIn }}
                      <li class="nav-item nav-btn dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ if eq .User.Image ""}}
                          <img src="{{ .Profile.picture }}" class="avatar" alt="avatar">
                          {{ else }}
                          <img src="{{ .User.Image }}" class="avatar" alt="avatar">
                          {{ end }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/profile">Profile</a>
                          <a class="dropdown-item" href="/profile/settings">Edit Profile</a>
                          <a class="dropdown-item btn-logout" href="/logout">Logout</a>
                        </div>
                      </li>
                      {{ else }}
                      <li class="nav-item nav-btn"><a class="nav-link btn btn-main btn-main-outline" href="/login">LOG IN / SIGN UP</a></li>
                      {{ end }}
                    </ul>

                    <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="close-icon"></div>
                    </button>

                </div>
            </div>

        </div>
    </nav>
    <div style="padding: 0px; bottom: 0px; background-color: rgb(255,99,71); color: white; position: fixed; width: 100%;z-index: 9999">
      Website is currently under active development
      <br>
      Official Launch in April
    </div>

</section>
    {{if .IsLoggedIn }}
      {{ if eq .User.IsMember false }}
        <section>
          BECOME A MEMBER TODAY!
        </section>
      {{ end }}
    {{ end }}

{{ end }}
