<!DOCTYPE html>
<html >
  <head>
    {{ template "header" }}
  </head>
  <body>
    {{ template "navbar" . }}

    <section class="engine"></section><section class="mbr-section form1 mbr-after-navbar" id="form1-l" data-rv-view="31" style="background-color: rgb(31, 42, 47); padding-top: 120px; padding-bottom: 120px;">

      <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container text-white">
          <div class="row">

            <h1>Store</h1>

          </div>
        </div>
      </div>
</section>
  {{ template "footer" }}
</body>
</html>

